<div class="jumbotron jumbotron-fluid">
    <h1>Please click the buttons below to scrape the latest posts from the r/learnprogramming subreddit</h1>
    <div>
        <a class="scrape-btn btn btn-dark btn-lg" role="button" href="/scraper">Scrape New Articles</a>
        <a class="scrape-btn btn btn-dark btn-lg" role="button" href="/myarticles">Retrieve Scraped Articles</a>
    </div>
</div>